@import url('https://fonts.googleapis.com/css?family=Bevan|Ubuntu+Condensed|Unica+One');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #dafffe;
    line-height: 190%;
    color: #084a58;
    font-family: 'Ubuntu Condensed', cursive;
}

/*------ Navbar start -----*/

header {
    background: #1ca29e;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 5px solid #1ca29e;
    opacity: .9;
}

.navigation ul {
    list-style: none;
    color: #DFEAEC;
    font-weight: 700;
}

.navigation li {
    display: inline-block;
    float: left;
    padding: 10px
    color: #DFEAEC;
}

.navigation a {
    text-decoration: none;
    color: #DFEAEC;
}

.navigation a:hover {
    color: #ff7759;
}

#current {
    color: #ff7759;
}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 50px;
    background: url(images/logo.svg) no-repeat center;
    display: block;
}

nav {
    float: right;
    padding: 35px 35px 0 0;
    font-family: 'Ubuntu Condensed', cursive;
}

#menu-icon {
    background: url(../img/icon.png) no-repeat center;
    display: hidden;
    width: 32px;
    height: 32px;
}

nav ul li {
    padding: 0px 0px 10px 20px;
    font-size: 160%;
}


/*------ Navbar end -----*/


.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    padding: 5%;
}

.clearfix1 {
    clear: both;
    padding: 1%;
}

/*----Oszlopok----*/

.one-third {
    width: 29%;
    float: left;
    margin: 2%;
}

.one-third h3 a {
    text-decoration: none;
    color: #084a58;
}

.one-third h3 {
    text-align: center;
    font-size: 180%;
}

.one-third p a {
    text-decoration: none;
    color: #ff7759;
}

.one-third p {
    text-align: justify;
    font-size: 125%;
}

.icon {
    margin: 0 auto;
}

img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

img.icon2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}


/*----Oszlopok end----*/



/*----Kozepso resz----*/

.center h3 {
    text-align: center;
    font-size: 180%;
}

.center h3 a {
    text-decoration: none;
    color: #084a58;
}

.center p a {
    text-decoration: none;
    color: #ff7759;
}

.center p {
    text-align: center;
    font-size: 125%;
}

/*------ Megrendelo gomb start ------*/

.orderbtn p {
    border: 2px solid #1ca29e;
    background-color: #1ca29e;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 15px 45px;
    font-size: 150%;
    color: #DFEAEC;
}

.orderbtn a {
    color: #DFEAEC;
    text-decoration: none;
}

.orderbtn a:hover {
    color: #ff7759;
}

.orderbtn:active {
    transform: translateY(2px) translateX(1px);
}

.orderbtn {
    text-align: center;
    padding-top: 2%;
}

/*------ Megrendelo gomb end ------*/



/*----Kozepso resz end----*/



/*-----Responsive size-----*/

@media only screen and (max-width : 640px) {

    header {
        position: absolute;
    }

    #menu-icon {
        display:inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        z-index: 1000;
        padding: 20px;
        background: #1ca29e;
        right: 20px;
        top: 65px;
        width: 50%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }



    .clearfix {
        padding: 15%;
    }

    /*----Oszlop screen----*/

    .one-third {
        width: 100%;
        margin: 0;
        padding-bottom: 15%;
    }



    .one-third h3 {
        text-align: center;
        font-size: 140%;
    }


    .one-third p {
        text-align: justify;
        font-size: 100%;
    }

    .icon {
        margin: 0 auto;
    }

    img.icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
        width: 120px;
        height: 120px;
    }
    /*----Oszlop screen end----*/
}

/*---Kozepso szoveg---*/

.one h3 {

}

/*----Kozepso szoveg end----*/


/*-------Mobile responsive-------*/

@media only screen and (max-width : 400px) {

    header {
        position: absolute;
    }

    #menu-icon {
        display:inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        z-index: 1000;
        padding: 6px;
        background: #1ca29e;
        right: 6px;
        top: 50px;
        width: 20%;
    }

    nav:hover ul {
        display: block;
    }

    nav li {
        text-align: center;
        width: 70%;
        padding: 8px 0;
        margin: 0;
    }

    .one-third {
        width: 80%;
        margin: 0;
    }

    .clearfix {
        padding: 15%;
    }
}